@include font-face(Poppins, "../../Fonts/poppins-v15-latin-300", 300, normal);
@include font-face(Poppins, "../../Fonts/poppins-v15-latin-regular", 400, normal);
@include font-face(Poppins, "../../Fonts/poppins-v15-latin-600", 600, normal);
@include font-face(Poppins, "../../Fonts/poppins-v15-latin-700", 700, normal);
  

$font: 'Poppins', sans-serif;
$light: 300;
$regular: 400;
$semi: 600;
$bold: 700;

h1 {
    font-weight: $semi;
    @include font-size(4rem);
}