// Bootstrap
$primary: #139BBE;
$secondary: #139BBE;
$border-radius: 35px;

// Formulaires
$form-color: #A29898;
$background-button: $secondary;
$border-input: $form-color;
$label-color: $form-color;

// Background
$background-nav: $secondary;

// Typo
$font-family: 'Nunito', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-semi: 600;
$font-bold: 700;

$hamburger-layer-color: #fff;