#menu_accessible {
    left: 0;
    position: absolute;
    top: 5px;
    z-index: 100;
    li {display: inline;}
	a {
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    text-decoration: none;
	    width: 0;
	    &:active, &:focus {
		    color: #fff;
		    position: static;
	    }
	}
}

header {
    background-color: #1A1A1A;
    align-items: center;
    position: sticky;
    top: -20px;
    height: 160px;   
    z-index: 1;
     .header-inner {
        height: 120px;
        position: sticky;
        top: 0; 
        display: flex;
        align-items: center;
    }     
    a {
        color: $white;
        &:hover, &.active, &.show {
            color: #16B7DF;
        }
    }
    h1 {
        margin: 0;
    }
}

.breadcrumb {
    margin: 30px 0;
}

.dropdown-menu {
    font-size: 1.4rem;
    border: 0;
    background-color: $primary;
    a {
        color: $white;
    }
}