<header>
	<f:render partial="Header" arguments="{_all}" />
</header>

<main id="mainContent">
	<f:render section="Main" />
</main>

<footer>
	<f:render partial="Footer" arguments="{_all}" />
</footer>