<ul id="menu_accessible">
	<li><a href="#mainContent">Aller au contenu</a></li>
	<li><a href="#menuSite">Aller au menu</a></li>
	<li><a href="#103">Aller à la recherche</a></li>
</ul>

<nav class="navbar navbar-expand-lg pt-0">
	<div class="container">
		<f:if condition="{homePage} == {data.uid}">
			<f:then>
				<h1 class="navbar-brand">
					<svg>
						<title>Thomas Beck Développeur front-end</title>
						<use xlink:href="{dossierPublic}/Images/sprite.svg#logo"></use>
					</svg>						
				</h1>
			</f:then>
			<f:else>
				<f:link.page pageUid="{homePage}" class="navbar-brand">
					<svg>
						<title>Retour à l'accueil</title>
						<use xlink:href="{dossierPublic}/Images/sprite.svg#logo"></use>
					</svg>
				</f:link.page>
			</f:else>
		</f:if>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<f:for each="{mainnavigation}" as="mainnavigationItem">
					<li class="nav-item {f:if(condition: mainnavigationItem.active, then: 'active')}">
					   <a class="nav-link"
						  href="{mainnavigationItem.link}"
						  target="{mainnavigationItem.target}"
						  title="{mainnavigationItem.title}"
						  >
						  {mainnavigationItem.title}
					   </a>
					</li>
				 </f:for>				
			</ul>
		</div>
	</div>
</nav> 