// Bootstrap
$primary: #F5530E;
$secondary: #DF3601;
$border-radius: .75rem;
$border-width: 1px;
$progress-bar-bg : $secondary;

$form-color: #A29898;
$background-button: $secondary;
$border-input: $form-color;
$label-color: $form-color;

$button_padding: 15px 20px;

$nav-background: $secondary;
$background-body: #212529;
