<div class="container text-center">
    <p>©<f:format.date date="now" format="Y" /> Amandine Guuinic. Tous droits réservés | Intégration par <a href="http://www.thomas-beck.fr/" target="_blank"> Thomas Beck</a></p>
</div>