<ul id="menu_accessible">
	<li><a href="#mainContent">Aller au contenu</a></li>
	<li><a href="#menuSite">Aller au menu</a></li>
	<li><a href="#103">Aller à la recherche</a></li>
</ul>

	<nav class="navbar navbar-expand-lg">
		<div class="container header-inner">
			<f:if condition="{homePage} == {data.uid}">
				<f:then>
					<h1 class="navbar-brand">
						<svg viewBox="0 0 60 55" width="100" height="100">
							<title>Educ-canine - Education canine à domicile</title>
							<use xlink:href="{dossierPublic}/Images/sprite.svg#logo"></use>
						</svg>
					</h1>
				</f:then>
				<f:else>
					<f:link.page pageUid="{homePage}" class="navbar-brand">
						<svg viewBox="0 0 60 55" width="100" height="100">
							<title>Retour à l'accueil</title>
							<use xlink:href="{dossierPublic}/Images/sprite.svg#logo"></use>
						</svg>
					</f:link.page>
				</f:else>
			</f:if>
			<button class="navbar-toggler hamburger hamburger--collapse" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Afficher / Masquer le menu">
				<span class="hamburger-box">
				  <span class="hamburger-inner"></span>
				</span>
			  </button> 
			  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<f:for each="{mainnavigation}" as="mainnavigationItem">
						<li class="nav-item {f:if(condition: mainnavigationItem.children, then: 'dropdown')} px-md-5">
						   <a class="nav-link {f:if(condition: mainnavigationItem.children, then: 'dropdown-toggle')} {f:if(condition: mainnavigationItem.active, then: 'active')}"
							  href="{mainnavigationItem.link}"
							  {f:if(condition: mainnavigationItem.children, then: 'role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"')}
							  >
							  {mainnavigationItem.title}
						   </a>
						   <f:if condition="{mainnavigationItem.children}">
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<f:for each="{mainnavigationItem.children}" as="children">
										<li><a class="dropdown-item" href="{children.link}">{children.title}</a></li>
									</f:for>
								</ul>
						   </f:if>
						</li>
					 </f:for>				
				</ul>
			</div>
		</div>
	</nav> 