<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{columns}">
    <f:for each="{columns}" as="column" key="columnNumber">
        <f:for each="{column}" as="child">
            <f:render partial="Child"
                        arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
        </f:for>
    </f:for>
</f:if>

</html>