<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{options.respectColumns}">
        <f:then>
            <f:if condition="{options.respectRows}">
                <f:then>
                    <f:render partial="Rows" arguments="{data: data, rows: children, options: options, settings: settings}"/>
                </f:then>
                <f:else>
                    <f:render partial="Columns" arguments="{data: data, columns: children, options: options, settings: settings}"/>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{children}">
                <f:for each="{children}" as="child">
                    <f:render partial="Child"
                              arguments="{data: child.data, children: child.children, options: options, settings: settings}"/>
                </f:for>
            </f:if>
        </f:else>
    </f:if>

</html>