<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:if condition="{rows}">
    <f:for each="{rows}" as="columns" key="rowNumber">
        <f:switch expression="{data.tx_gridelements_backend_layout}">
            <f:case value="2cols">
                <div class="row row-cols-1 row-cols-sm-2">
            </f:case>
            <f:case value="3cols">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            </f:case> 
            <f:case value="4cols">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            </f:case>    
        </f:switch>
            <f:render partial="Columns" arguments="{data: data, columns: columns, options: options, settings: settings}"/>
        </div>
    </f:for>
</f:if>

</html>