<f:layout name="Default"/>
<f:section name="Main">
	<f:alias map="{contenuDroite: '{f:cObject(typoscriptObjectPath: \'lib.countContent\', data: {colPos: \'2\'})}', contenuGauche: '{f:cObject(typoscriptObjectPath: \'lib.countContent\', data: {colPos: \'1\'})}', col0: '{colPos: \'0\'}', col1: '{colPos: \'1\'}', col2: '{colPos: \'2\'}', col3: '{colPos: \'3\'}'}">
		<f:cObject typoscriptObjectPath="lib.filAriane" />
		<f:cObject typoscriptObjectPath="lib.filArianeNavigation" />
		<div class="container">
				<!-- Partage Social Share -->
				<div class="tools">
					<button class="btnShare">Partager</button>
					<div class="itemMail"><a href="javascript:emailCurrentPage()">Envoyer par email</a></div>
					<div class="itemPrint"><a href="javascript:window.print();">Imprimer</a></div>
				</div>
				<div class="socialShare"></div>

				<!-- Partage Simple -->
				<div class="tools">
					<button class="btnShare">Partager</button>
					<div class="itemMail"><a href="javascript:emailCurrentPage()">Envoyer par email</a></div>
					<div class="itemPrint"><a href="javascript:window.print();">Imprimer</a></div>
				</div>
				<ul class="social">
					<li><a href="#" onclick="shareFacebook();return false;" class="share btn_facebook">Facebook</a></li>
					<li><a href="#" onclick="shareTwitter();return false;" class="share btn_twitter">Twitter</a></li>
					<li><a href="#" onclick="shareGoogle();return false;" class="share btn_gplus">Google+</a></li>
					<li><a href="#" onclick="shareLinkedin();return false;" class="share btn_linkedin">Linkedin</a></li>
					<li><a href="#" onclick="sharePinterest();return false;" class="share btn_pinterest">Pinterest</a></li>
				</ul>
				<div class="row nowrap">
					<f:if condition="{contenuGauche} > 1">
						<div class="content_left col-md-3">
							<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{col1}" />
						</div>
					</f:if>
					<div class="content_center">
						<f:cObject typoscriptObjectPath="lib.titrePage" />
						<!--TYPO3SEARCH_begin-->
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{col0}" />
						<!--TYPO3SEARCH_end-->
					</div>
					<f:if condition="{contenuDroite} > 1">
						<div class="content_right col-md-3">
							<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{col2}" />
						</div>
					</f:if>
				</div>
		</div>
	</f:alias>
</f:section>
