@include font-face(Poppins, "../../Fonts/poppins-v15-latin-300", 300, normal);
@include font-face(Poppins, "../../Fonts/poppins-v15-latin-regular", 400, normal);
@include font-face(Poppins, "../../Fonts/poppins-v15-latin-600", 600, normal);
@include font-face(Poppins, "../../Fonts/poppins-v15-latin-700", 700, normal);
  

$font: 'Poppins', sans-serif;
$light: 300;
$regular: 400;
$semi: 600;
$bold: 700;

html {
    font-size: .625em;
    font-size: calc(1em * .625);
  }

body {
    font-family: $font;
    font-weight: $light;
    background: $background-body;
    color: $white;
    font-size: 1.6em;
}

/* STICKY FOOTER */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/* FIN STICKY FOOTER */

h1, .h1-style {
    font-weight: $semi;
    @include font-size(3rem);
    margin-bottom: 50px;
}

.backbround-opacity {
    background-size: cover;
    background-color: rgba($color: $dark, $alpha: .7);
}

.experience {
    background-color: $background-body;
    border: 1px dashed $form-color;
    padding: 40px 10px;
    .big {
        font-weight: 700;
        @include font-size(3rem);
    }
}