input, textarea {
    border: 1px solid $border-input;
    background-color: transparent;
    color: $label-color;
    padding: 20px 15px;
    width: 100%;
    &::placeholder {
        color: transparent;
    }
    &:focus + label,
    &:not(:placeholder-shown) + label {
        padding: 0 .75em;
        transform: translate(0, -1em) scale(.7);
        background-color: $background-body;
    }
    &:required + label::after {
        content: "*";
        color: $primary;
        margin-left: 2px;
    }
}

label {
    color: $label-color;
    position: absolute;
    top: 5px;
    left: .75em;
    display: inline-block;
    width: auto;
    margin: 0;
    padding: .75em;
    transition: transform .25s, opacity .25s, padding .25s ease-in-out;
    transform-origin: 0 0;
    @include font-size(1.6rem);
}
textarea + label {
    transform: translateY(-10%);
}

.form-group {
    position: relative;
}

button, .button-style {
    background-color: $background-button;
    padding: $button_padding;
    color: $white;
    @include font-size(1.8rem);
    border-radius: $border-radius;
    overflow: hidden;
    position: relative;
    border: 1px solid $background-button;
    text-decoration: none;
    &::after {
        background: $white;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 1;
    }
    &:focus, &:hover {color: $white;}
    &:focus, &:hover {
        &::after {
            left: 120%;
        }
    }
    &.border {
        background-color: initial;
    }
}