<f:layout name="Default"/>
<f:section name="Main">

	<!--TYPO3SEARCH_begin-->
	<f:alias map="{col0: '{colPos: \'0\'}'}">

		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{col0}" />

	</f:alias>
	<!--TYPO3SEARCH_end-->
</f:section>