<f:layout name="Default"/>
<f:section name="Main">
	<f:alias map="{contenuDroite: '{f:cObject(typoscriptObjectPath: \'lib.countContent\', data: {colPos: \'2\'})}', contenuGauche: '{f:cObject(typoscriptObjectPath: \'lib.countContent\', data: {colPos: \'1\'})}', col0: '{colPos: \'0\'}', col1: '{colPos: \'1\'}', col2: '{colPos: \'2\'}', col3: '{colPos: \'3\'}'}">
		
		<div class="container">
			<f:cObject typoscriptObjectPath="lib.filAriane" />

			<div class="row">
				<f:if condition="{contenuGauche} > 1">
					<div class="content_left col-md-3">
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{col1}" />
					</div>
				</f:if>
				<div class="content_center">
					<f:cObject typoscriptObjectPath="lib.titrePage" />
					<!--TYPO3SEARCH_begin-->
					<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{col0}" />
					<!--TYPO3SEARCH_end-->
				</div>
				<f:if condition="{contenuDroite} > 1">
					<div class="content_right col-md-3">
						<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{col2}" />
					</div>
				</f:if>
			</div>
		</div>
	</f:alias>
</f:section>
