<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{data.imageorient} == '19'">
    <f:then>
        <f:link.typolink parameter="{file.link}" title="{file.title}">
            <figure class="c4-izmir c4-border-bottom-left c4-gradiant-bottom-right w-100">
                <f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
                <figcaption class="c4-layout-bottom-left">
                    <div class="c4-reveal-right c4-delay-100">
                        <span>{file.description -> f:format.nl2br()}</span>
                    </div>
                </figcaption>
            </figure>
        </f:link.typolink>
    </f:then>
    <f:else>
        <figure class="image">
            <f:if condition="{file.link}">
                <f:then>
                    <f:link.typolink parameter="{file.link}" title="{file.title}">
                        <f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
                    </f:link.typolink>
                </f:then>
                <f:else>
                    <f:if condition="{data.image_zoom}">
                        <f:then>
                            <ce:link.clickEnlarge image="{file}" configuration="{settings.media.popup}">
                                <f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
                            </ce:link.clickEnlarge>
                        </f:then>
                        <f:else>
                            <f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
            <f:if condition="{file.description}">
                <figcaption class="image-caption">
                    {file.description -> f:format.nl2br()}
                </figcaption>
            </f:if>
        </figure>
    </f:else>
</f:if>
</html>
