.navbar-brand {
    svg {
        height: 55px;
    }
}
.navbar-nav {
    a {
        color: $white;
        @include font-size(1.8rem);
        padding: 40px 15px 25px;
        text-decoration: none;
        display: block;
        position: relative;
        transition: all .3s cubic-bezier(.2, 0, 0, 1);
        &:after {
            content: '';
            display: block;
            height: 0;
            position: absolute;
            bottom: 0;
            right: 1.25rem;
            left: 1.25rem;
            background-color: $nav-background;
            transition: all .5s cubic-bezier(.2, 0, 0, 1);
            transform-origin: bottom center;
            z-index: -1;
        }
          &:hover {
              text-decoration: underline;
          }
        &:hover, &.active {
        &:after {
            right: 0;   
            left: 0;
            height: 100%;
            }
        }        
    }
}