.contact-info {
    .rounded-circle {
        padding: 10px;
        border: 1px solid $white;
    }
    svg {
        width: 25px;
        height: 25px;
    }
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.othersSites {
    background-color: $secondary;
    padding: 15px 0;
    a {
        display: inline-block;
        color: $white;
    }
    svg {
        fill: $white;
        height: 50px;
        width: 50px;
    }
}