.hello {
    background: $secondary;
    color: $white;
    padding: $button_padding;
    position: relative;
    &::after {
        content: "";
        width: 0; 
        height: 0; 
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid $secondary;
    }
}
.name {
    @include font-size(6rem);
    font-weight: $bold;
}

.progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
} 
@for $i from 1 through 11 {
    .progress:nth-child(#{$i}n) .progress-bar{
        animation-delay: #{$i * 0.5}s;
    }
}
  
@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
    } 
    @keyframes show  {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}