@include font-face(Nunito, "../../Fonts/nunitosans-light-webfont", 300, normal);
@include font-face(Nunito, "../../Fonts/nunitosans-regular-webfont", 400, normal);
@include font-face(Nunito, "../../Fonts/nunitosans-semibold-webfont", 600, normal);
@include font-face(Nunito, "../../Fonts/nunitosans-bold-webfont", 700, normal);

html {
  font-size: .625em;
  font-size: calc(1em * .625);
}

body {
  font-family: $font-family;
  font-weight: $font-light;
  color: #1A1A1A;
  font-size: 1.6em;
}

// STICKY FOOTER
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// FIN STICKY FOOTER

.gray {
  background-color: #F1F1F1;
  padding: 3rem 0;
}
.c4-izmir span {
  // @include font-size(3rem);
  font-weight: $font-bold;
}
.competences {
  .rounded-circle {
    background: $white;
    display: inline-block;
    padding: 10px;  
  }
  svg {
    fill: $primary;
  }
}
