/* Izmir - ImageHover CSS LIbrary
  ----------------------------- */

// -----------------------------------------
// Base
//-------------------------------------------
// @import "../../../../../../../node_modules/@ciar4n/izmir/base/mixins";
@import "../../../../../../../node_modules/@ciar4n/izmir/scss/base/variables";
@import "../../../../../../../node_modules/@ciar4n/izmir/scss/base/base";

// -----------------------------------------
// Modules
//-------------------------------------------
@import "../../../../../../../node_modules/@ciar4n/izmir/scss/modules/animate-border";
@import "../../../../../../../node_modules/@ciar4n/izmir/scss/modules/animate-image";
@import "../../../../../../../node_modules/@ciar4n/izmir/scss/modules/animate-delay";
@import "../../../../../../../node_modules/@ciar4n/izmir/scss/modules/animate-text";
@import "../../../../../../../node_modules/@ciar4n/izmir/scss/modules/gradient";
@import "../../../../../../../node_modules/@ciar4n/izmir/scss/modules/layout";

// -----------------------------------------
// Style
//-------------------------------------------
@import "../../../../../../../node_modules/@ciar4n/izmir/scss/style/style";

.c4-izmir {
  --primary-color: #139BBE;
  --secondary-color: #139BBE;
  --transition-duration: 500ms;
  --border-width: 3px;
  --overlay-opacity: .5;
}
